<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Employment Details</title>

  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
  <!-- bootstrap-wysiwyg -->
  <link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
  <!-- Select2 -->
  <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
  <!-- Switchery -->
  <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
  <!-- starrr -->
  <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/" class="site_title"><i class="fa fa-line-chart"></i> <span>Employment Demographics!</span></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- menu profile quick info -->

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a href="/"><i class="fa fa-home"></i> Home </a>
              </li>
              <li><a href="/employment"><i class="fa fa-briefcase"></i> Employment </a>
              </li>
              <li><a href="/education"><i class="fa fa-sitemap"></i> Education </a>
              </li>
              <li><a href="/salary"><i class="fa fa-bar-chart-o"></i> Jobs & Salary </a>
              </li>
              <li><a href="/job"><i class="fa fa-magic"></i> Job Predictions</a>
              </li>
            </ul>
          </div>
          <div class="menu_section">
          </div>
        </div>
        <!-- sidebar menu -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Sign In
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="/login">Sign In</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="row" style="visibility: ">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="dashboard_graph">
            <div class="row x_title">
              <div class="col-md-6">
                <h3>Employment State Wise Distribution<small></small></h3>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="hs-component">
                <div class="container">
                  <div id="wrap" class="sidebar-wrapper">

                    <div class="col-md-12 col-sm-12 col-xs-12">


                      <div class="chart-container">
                        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                        <script src="https://code.highcharts.com/maps/highmaps.js"></script>
                        <script src="https://code.highcharts.com/maps/modules/data.js"></script>
                        <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
                        <script src="https://code.highcharts.com/mapdata/countries/us/custom/us-small.js"></script>
                        <div id="container"></div>
                        <div id="table-div" style="display:none">
                          <table id="data">
                            <tr>
                              <td>1</td>
                              <td>NEBRASKA</td>
                              <td>48.6</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>NORTH DAKOTA</td>
                              <td>48.8</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>UTAH</td>
                              <td>42.8</td>
                            </tr>
                            <tr>
                              <td>4</td>
                              <td>VERMONT</td>
                              <td>41</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>IOWA</td>
                              <td>46.3</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>MINNESOTA</td>
                              <td>47.5</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>NEW HAMPSHIRE</td>
                              <td>39.5</td>
                            </tr>
                            <tr>
                              <td>5</td>
                              <td>SOUTH DAKOTA</td>
                              <td>51.7</td>
                            </tr>
                            <tr>
                              <td>9</td>
                              <td>IDAHO</td>
                              <td>40.2</td>
                            </tr>
                            <tr>
                              <td>9</td>
                              <td>MONTANA</td>
                              <td>40.3</td>
                            </tr>
                            <tr>
                              <td>11</td>
                              <td>HAWAII</td>
                              <td>31.6</td>
                            </tr>
                            <tr>
                              <td>11</td>
                              <td>WYOMING</td>
                              <td>57.1</td>
                            </tr>
                            <tr>
                              <td>13</td>
                              <td>COLORADO</td>
                              <td>40.8</td>
                            </tr>
                            <tr>
                              <td>13</td>
                              <td>OKLAHOMA</td>
                              <td>34.8</td>
                            </tr>
                            <tr>
                              <td>13</td>
                              <td>TEXAS</td>
                              <td>38.6</td>
                            </tr>
                            <tr>
                              <td>16</td>
                              <td>KANSAS</td>
                              <td>42.8</td>
                            </tr>
                            <tr>
                              <td>17</td>
                              <td>DELAWARE</td>
                              <td>33.9</td>
                            </tr>
                            <tr>
                              <td>17</td>
                              <td>MASSACHUSETTS</td>
                              <td>35.1</td>
                            </tr>
                            <tr>
                              <td>17</td>
                              <td>WISCONSIN</td>
                              <td>41.2</td>
                            </tr>
                            <tr>
                              <td>20</td>
                              <td>MAINE</td>
                              <td>29.6</td>
                            </tr>
                            <tr>
                              <td>21</td>
                              <td>VIRGINIA</td>
                              <td>37.4</td>
                            </tr>
                            <tr>
                              <td>22</td>
                              <td>INDIANA</td>
                              <td>34.9</td>
                            </tr>
                            <tr>
                              <td>22</td>
                              <td>KENTUCKY</td>
                              <td>27.4</td>
                            </tr>
                            <tr>
                              <td>24</td>
                              <td>OHIO</td>
                              <td>35.2</td>
                            </tr>
                            <tr>
                              <td>25</td>
                              <td>MARYLAND</td>
                              <td>40</td>
                            </tr>
                            <tr>
                              <td>25</td>
                              <td>OREGON</td>
                              <td>37.8</td>
                            </tr>
                            <tr>
                              <td>27</td>
                              <td>PENNSYLVANIA</td>
                              <td>35.7</td>
                            </tr>
                            <tr>
                              <td>27</td>
                              <td>WASHINGTON</td>
                              <td>36.8</td>
                            </tr>
                            <tr>
                              <td>29</td>
                              <td>MICHIGAN</td>
                              <td>30.9</td>
                            </tr>
                            <tr>
                              <td>30</td>
                              <td>ARKANSAS</td>
                              <td>30.7</td>
                            </tr>
                            <tr>
                              <td>30</td>
                              <td>FLORIDA</td>
                              <td>31.4</td>
                            </tr>
                            <tr>
                              <td>30</td>
                              <td>NEW YORK</td>
                              <td>33</td>
                            </tr>
                            <tr>
                              <td>30</td>
                              <td>NORTH CAROLINA</td>
                              <td>32.2</td>
                            </tr>
                            <tr>
                              <td>34</td>
                              <td>ARIZONA</td>
                              <td>34.2</td>
                            </tr>
                            <tr>
                              <td>34</td>
                              <td>MISSOURI</td>
                              <td>35.3</td>
                            </tr>
                            <tr>
                              <td>34</td>
                              <td>TENNESSEE</td>
                              <td>30.4</td>
                            </tr>
                            <tr>
                              <td>37</td>
                              <td>RHODE ISLAND</td>
                              <td>35.8</td>
                            </tr>
                            <tr>
                              <td>38</td>
                              <td>CONNECTICUT</td>
                              <td>35.4</td>
                            </tr>
                            <tr>
                              <td>38</td>
                              <td>ILLINOIS</td>
                              <td>38.3</td>
                            </tr>
                            <tr>
                              <td>40</td>
                              <td>ALABAMA</td>
                              <td>27.9</td>
                            </tr>
                            <tr>
                              <td>41</td>
                              <td>NEW MEXICO</td>
                              <td>30.8</td>
                            </tr>
                            <tr>
                              <td>42</td>
                              <td>GEORGIA</td>
                              <td>31.1</td>
                            </tr>
                            <tr>
                              <td>43</td>
                              <td>CALIFORNIA</td>
                              <td>33.8</td>
                            </tr>
                            <tr>
                              <td>44</td>
                              <td>NEW JERSEY</td>
                              <td>37.9</td>
                            </tr>
                            <tr>
                              <td>45</td>
                              <td>LOUISIANA</td>
                              <td>33</td>
                            </tr>
                            <tr>
                              <td>46</td>
                              <td>MISSISSIPPI</td>
                              <td>27.5</td>
                            </tr>
                            <tr>
                              <td>47</td>
                              <td>ALASKA</td>
                              <td>42.4</td>
                            </tr>
                            <tr>
                              <td>47</td>
                              <td>SOUTH CAROLINA</td>
                              <td>28.7</td>
                            </tr>
                            <tr>
                              <td>49</td>
                              <td>NEVADA</td>
                              <td>41.1</td>
                            </tr>
                            <tr>
                              <td>50</td>
                              <td>WEST VIRGINIA</td>
                              <td>25.4</td>
                            </tr>
                            <tr>
                              <td>51</td>
                              <td>DISTRICT OF COLUMBIA</td>
                              <td>25.4</td>
                            </tr>
                          </table>
                        </div>
                        <script>
                            jQuery.noConflict();
                            var example = 'us-data-labels',
                                theme = 'default';
                            (function($) { // encapsulate jQuery


                                // Load the data from the HTML table and tag it with an upper case name used for joining
                                var data = [],
                                    // Get the map data
                                    mapData = Highcharts.geojson(Highcharts.maps['countries/us/custom/us-small']);

                                Highcharts.data({
                                    table: document.getElementById('data'),
                                    startColumn: 1,
                                    startRow: 1,
                                    complete: function(options) {
                                        $.each(options.series[0].data, function() {
                                            data.push({
                                                ucName: this[0],
                                                value: this[1]
                                            });
                                        });
                                    }
                                });

                                // Process mapdata
                                $.each(mapData, function() {
                                    var path = this.path,
                                        copy = {
                                            path: path
                                        };

                                    // This point has a square legend to the right
                                    if (path[1] === 9727) {

                                        // Identify the box
                                        Highcharts.seriesTypes.map.prototype.getBox.call({}, [copy]);

                                        // Place the center of the data label in the center of the point legend box
                                        this.middleX = ((path[1] + path[4]) / 2 - copy._minX) / (copy._maxX - copy._minX); // eslint-disable-line no-underscore-dangle
                                        this.middleY = ((path[2] + path[7]) / 2 - copy._minY) / (copy._maxY - copy._minY); // eslint-disable-line no-underscore-dangle

                                    }
                                    // Tag it for joining
                                    this.ucName = this.name.toUpperCase();
                                });




                                // Initiate the chart
                                Highcharts.mapChart('container', {

                                    title: {
                                        text: 'Employment Rate for Workers with Disabilities by State'
                                    },
                                    subtitle:{
                                        text :'Reference :- http://fortune.com/2017/02/28/disability-employment-rank/'
                                    },
                                    mapNavigation: {
                                        enabled: true,
                                        enableButtons: false
                                    },

                                    xAxis: {
                                        labels: {
                                            enabled: false
                                        }
                                    },

                                    colorAxis: {
                                        labels: {
                                            format: '{value}%'
                                        }
                                    },

                                    series: [{
                                        animation: {duration: 1000},
                                        mapData: mapData,
                                        data: data,
                                        joinBy: 'ucName',
                                        name: 'Employment Rate',
                                        states: {
                                            hover: {
                                                color: '#a4edba'
                                            }
                                        },
                                        dataLabels: {
                                            enabled: true,
                                            formatter: function() {
                                                return this.point.properties['hc-a2'];
                                            },
                                            style: {
                                                fontSize: '10px'
                                            }
                                        },
                                        tooltip: {
                                            valueSuffix: '%'
                                        }
                                    }, {
                                        type: 'mapline',
                                        data: Highcharts.geojson(Highcharts.maps['countries/us/custom/us-small'], 'mapline'),
                                        color: 'silver'
                                    }]
                                });
                            })(jQuery);
                        </script>
                      </div>

                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 sidebar-eq-fill"></div>
                    <div class="clearfix"></div>
                  </div>

                </div>
              </div>
              <div>

              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <br />

      <div class="">
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <!--Population - Gender (M/F) - Highcharts-->
            <div class="row" style="visibility: ">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">
                  <div class="row x_title">
                    <div class="col-md-6">
                      <h3>Disability Equality Index<small></small></h3>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <script src="http://code.highcharts.com/highcharts.js"></script>
                    <script src="http://code.highcharts.com/highcharts-more.js"></script>
                    <script src="http://code.highcharts.com/modules/exporting.js"></script>
                    <div id="chart_plot_02" class="demo-placeholder"></div>
                    <script>
                        (function(){ function include(script, next) {var sc=document.createElement("script");sc.src = script;sc.type="text/javascript";sc.onload=function() {if (++next < incl.length) include(incl[next], next);};document.head.appendChild(sc);}function each(a, fn){if (typeof a.forEach !== "undefined"){a.forEach(fn);}else{for (var i = 0; i < a.length; i++){if (fn) {fn(a[i]);}}}}var inc = {},incl=[]; each(document.querySelectorAll("script"), function(t) {inc[t.src.substr(0, t.src.indexOf("?"))] = 1;});each(Object.keys({"https://code.highcharts.com/stock/highstock.js":1,"https://code.highcharts.com/adapters/standalone-framework.js":1,"https://code.highcharts.com/highcharts-more.js":1,"https://code.highcharts.com/highcharts-3d.js":1,"https://code.highcharts.com/modules/data.js":1,"https://code.highcharts.com/modules/map.js":1,"https://code.highcharts.com/modules/exporting.js":1,"http://code.highcharts.com/modules/funnel.js":1,"http://code.highcharts.com/modules/solid-gauge.js":1}),function (k){if (!inc[k]) {incl.push(k)}});if (incl.length > 0) { include(incl[0], 0); } function cl() {if(typeof window["Highcharts"] !== "undefined"){var options={"options":{},"chart":{"type":"column","inverted":true,"polar":false},"title":{"text":"2017 Disability Equality Index® (DEI®) Best Places to Work"},"subtitle":{"text":"Reference - http://www.usbln.org/wp-content/uploads/2017/08/2017_DEI_Best_Places_to_Work_List-1.pdf"},"exporting":{},"series":[{"data":[["3M",100],["Accenture",100],["Aetna",100],["AMC Theatres",100],["Ameren Corporation",100],["American Airlines",100],["Bank of America",100],["Blue Cross Blue Shield of Michigan",100],["BMO Harris Bank",100],["Booz Allen Hamilton",100],["Boston Scientific Corporation",100],["Brown-Forman Corporation",100],["Capital One",100],["DTE Energy",100],["DuPont",100],["DXC Technology",100],["Express Scripts",100],["EY",100],["Financial Industry Regulatory Authority (FINRA)",100],["Florida Blue",100],["Freddie Mac",100],["General Motors",100],["Goldman Sachs & Co",100],["GSK",100],["Health Care Service Corporation",100],["Hewlett Packard Enterprise",100],["HP Inc.",100],["KPMG  LLP",100],["Lincoln Financial Group",100],["Lockheed Martin Corporation",100],["ManpowerGroup",100],["Mayo Clinic",100],["Microsoft",100],["Northrop Grumman Corporation",100],["Qualcomm  Inc.",100],["Southern Company",100],["Sprint",100],["Starbucks",100],["Synchrony Financial",100],["T-MOBILE USA",100],["TD Bank",100],["The Procter & Gamble Company",100],["United Airlines  Inc.",100],["Verizon",100],["Walgreens",100],["Walmart",100],["Wells Fargo",100],["Oracle Corporation",90],["Raytheon Corporation",90],["Sodexo",90],["Southern California Edison",90],["Spaulding Rehabilitation Network",90],["Thomson Reuters",90],["American Electric Power",80],["Boehringer Ingelheim",80],["W.W. Grainger",80]],"name":"Disability Employment Index","_colorIndex":0,"_symbolIndex":0},{"data":[["3M",null],["Accenture",null],["Aetna",null],["AMC Theatres",null],["Ameren Corporation",null],["American Airlines",null],["Anthem  Inc.",null],["Aramark Corp.",null],["AT&T",null],["BAE Systems  Inc.",null],["Bank of America",null],["Blue Cross Blue Shield of Michigan",null],["BMO Harris Bank",null],["Booz Allen Hamilton",null],["Boston Scientific Corporation",null],["Brown-Forman Corporation",null],["Capital One",null],["Cargill",null],["Cigna",null],["Comcast NBC Universal",null],["CVS Health",null],["Delta Air Lines",null],["DTE Energy",null],["DuPont",null],["DXC Technology",null],["Express Scripts",null],["EY",null],["Financial Industry Regulatory Authority (FINRA)",null],["Florida Blue",null],["Hewlett Packard Enterprise",null],["HP Inc.",null],["Huntington National Bank",null],["Intel Corporation",null],["JPMorgan Chase & Co",null],["Kaiser Permanente",null],["KPMG  LLP",null],["Lincoln Financial Group",null],["Lockheed Martin Corporation",null],["ManpowerGroup",null],["Mayo Clinic",null],["Microsoft",null],["Northrop Grumman Corporation",null],["Pacific Gas and Electric Company",null],["PNC Financial Services Group",null],["Prudential Financial",null],["PwC",null],["Qualcomm  Inc.",null],["Southern Company",null],["Sprint",null],["Starbucks",null],["Synchrony Financial",null],["T-MOBILE USA",null],["TD Bank",null],["The Boeing Company",null],["The Dow Chemical Company",null],["The Hartford Financial Services Group",null],["The Procter & Gamble Company",null],["United Airlines  Inc.",null],["Verizon",null],["Walgreens",null],["Walmart",null],["Wells Fargo",null],["Whirlpool Corporation",null],["AXA",null],["Biogen Inc.",null],["Centene Corporation",null],["Cisco Systems  Inc.",null],["Deloitte",null],["Entergy",null],["M&T Bank",null],["MassMutual Financial Group",null],["Meijer",null],["Merck & Co.  Inc.",null],["MetLife",null],["Nielsen (Corporation)",null],["Northern Trust",null],["Oracle Corporation",null],["Raytheon Corporation",null],["Sodexo",null],["Southern California Edison",null],["Spaulding Rehabilitation Network",null],["Thomson Reuters",null],["American Electric Power",null],["Boehringer Ingelheim",null],["McKesson Corporation",null],["Royal Caribbean Cruises Ltd",null],["Southwest Airlines Co.",null],["United Technologies Corporation",null],["UPS",null],["USAA",null],["W.W. Grainger",null]],"name":"undefined","_colorIndex":1,"_symbolIndex":1}],"plotOptions":{"series":{"animation":false}},"yAxis":[{"title":{}}]};
                            // Sample of extending options:
                            Highcharts.merge(true, options, {
                                chart: {
                                    type: "column"
                                },
                                plotOptions: {
                                    series: {
                                        cursor: "pointer",
                                        events: {
                                            click: function(event) {
                                                alert(this.name + " clicked\n" +
                                                    "Alt: " + event.altKey + "\n" +
                                                    "Control: " + event.ctrlKey + "\n" +
                                                    "Shift: " + event.shiftKey + "\n");
                                            }
                                        }
                                    }
                                }
                            });
                            new Highcharts.Chart("chart_plot_02", options);}else window.setTimeout(cl, 20);}cl();})();
                    </script>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>

  </div>
</div>

<!-- footer content -->
<footer>
  <div class="pull-right">
    <a href="http://localhost:3000/">Disabled employees demographics</a>
  </div>
  <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="../vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</body>
</html>
