<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Career Options and Salary</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/" class="site_title"><i class="fa fa-line-chart"></i> <span>Employment Demographics!</span></a>
                </div>
                <div class="clearfix"></div>
                <br />
                <!-- menu profile quick info -->

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="/"><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li><a href="/employment"><i class="fa fa-briefcase"></i> Employment </a>
                            </li>
                            <li><a href="/education"><i class="fa fa-sitemap"></i> Education </a>
                            </li>
                            <li><a href="/salary"><i class="fa fa-bar-chart-o"></i> Jobs & Salary </a>
                            </li>
                            <li><a href="/job"><i class="fa fa-magic"></i> Job Predictions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_section">
                    </div>
                </div>
                <!-- sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    </ul>
                    </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>34 Great Jobs for People with Disabilities</h3>
                    </div>


                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options<small>Psychiatric or Emotional Disorder</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12" id="highcharts-83f134a2-fc2e-4591-a330-f72abd2db6e0">
                                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                                <script>
                                    window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')
                                </script>
                                <script src="http://code.highcharts.com/highcharts.js"></script>
                                <script src="http://code.highcharts.com/highcharts-more.js"></script>
                                <script src="http://code.highcharts.com/modules/exporting.js"></script>
                                <script>
                                    (function() {
                                        function include(script, next) {
                                            var sc = document.createElement("script");
                                            sc.src = script;
                                            sc.type = "text/javascript";
                                            sc.onload = function() {
                                                if (++next < incl.length) include(incl[next], next);
                                            };
                                            document.head.appendChild(sc);
                                        }

                                        function each(a, fn) {
                                            if (typeof a.forEach !== "undefined") {
                                                a.forEach(fn);
                                            } else {
                                                for (var i = 0; i < a.length; i++) {
                                                    if (fn) {
                                                        fn(a[i]);
                                                    }
                                                }
                                            }
                                        }
                                        var inc = {},
                                            incl = [];
                                        each(document.querySelectorAll("script"), function(t) {
                                            inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                        });
                                        each(Object.keys({
                                            "https://code.highcharts.com/stock/highstock.js": 1,
                                            "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                            "https://code.highcharts.com/highcharts-more.js": 1,
                                            "https://code.highcharts.com/highcharts-3d.js": 1,
                                            "https://code.highcharts.com/modules/data.js": 1,
                                            "https://code.highcharts.com/modules/map.js": 1,
                                            "https://code.highcharts.com/modules/exporting.js": 1,
                                            "http://code.highcharts.com/modules/funnel.js": 1,
                                            "http://code.highcharts.com/modules/solid-gauge.js": 1
                                        }), function(k) {
                                            if (!inc[k]) {
                                                incl.push(k)
                                            }
                                        });
                                        if (incl.length > 0) {
                                            include(incl[0], 0);
                                        }

                                        function cl() {
                                            if (typeof window["Highcharts"] !== "undefined") {
                                                Highcharts.setOptions({
                                                    lang: {
                                                        "thousandsSep": ","
                                                    }
                                                });
                                                var options = {
                                                    "options": {},
                                                    "chart": {
                                                        "type": "column",
                                                        "inverted": true,
                                                        "polar": false
                                                    },
                                                    "plotOptions": {
                                                        "series": {
                                                            "dataLabels": {
                                                                "enabled": true
                                                            },
                                                            "animation": true
                                                        }
                                                    },
                                                    "title": {
                                                        "text": "Careers for Those with Psychiatric or Emotional Disorders"
                                                    },

                                                    "exporting": {},
                                                    "series": [{
                                                        "data": [
                                                            ["Electronics engineering technician", 62950],
                                                            ["Electronics engineers", 103760],
                                                            ["Computer hardware engineers", 118700],
                                                            ["Welding", 42250],
                                                            ["Electrician", 56650],
                                                            ["Computer Animation", 72200],
                                                            ["Nail technicians", 24330],
                                                            ["Hairstylists", 29590],
                                                            ["Barbers", 29900],
                                                            ["Massage Therapy", 44480],
                                                            ["Dental Hygiene", 73440],
                                                            ["Physical Therapy Assisting", 56850]
                                                        ],
                                                        "name": "Average Salaries",
                                                        "turboThreshold": 0,
                                                        "_colorIndex": 0,
                                                        "_symbolIndex": 0
                                                    }],
                                                    "legend": {},
                                                    "yAxis": [{
                                                        "title": {}
                                                    }],
                                                    "xAxis": [{
                                                        "categories": ['Electronics engineering technician', 'Electronics engineers', 'Computer hardware engineers', 'Welding', 'Electrician', 'Computer Animation', 'Nail technicians', 'Hairstylists', 'Barbers', 'Massage Therapy', 'Dental Hygiene', 'Physical Therapy Assisting'],
                                                    }]
                                                };

                                                new Highcharts.Chart("highcharts-83f134a2-fc2e-4591-a330-f72abd2db6e0", options);
                                            } else window.setTimeout(cl, 20);
                                        }
                                        cl();
                                    })();
                                </script>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options <small>Learning Disabilities</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="highcharts-c706ce4f-ad0a-4702-a323-65490dd66b59">

                                <script>
                                    (function() {
                                        function include(script, next) {
                                            var sc = document.createElement("script");
                                            sc.src = script;
                                            sc.type = "text/javascript";
                                            sc.onload = function() {
                                                if (++next < incl.length) include(incl[next], next);
                                            };
                                            document.head.appendChild(sc);
                                        }

                                        function each(a, fn) {
                                            if (typeof a.forEach !== "undefined") {
                                                a.forEach(fn);
                                            } else {
                                                for (var i = 0; i < a.length; i++) {
                                                    if (fn) {
                                                        fn(a[i]);
                                                    }
                                                }
                                            }
                                        }
                                        var inc = {},
                                            incl = [];
                                        each(document.querySelectorAll("script"), function(t) {
                                            inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                        });
                                        each(Object.keys({
                                            "https://code.highcharts.com/stock/highstock.js": 1,
                                            "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                            "https://code.highcharts.com/highcharts-more.js": 1,
                                            "https://code.highcharts.com/highcharts-3d.js": 1,
                                            "https://code.highcharts.com/modules/data.js": 1,
                                            "https://code.highcharts.com/modules/map.js": 1,
                                            "https://code.highcharts.com/modules/exporting.js": 1,
                                            "http://code.highcharts.com/modules/funnel.js": 1,
                                            "http://code.highcharts.com/modules/solid-gauge.js": 1
                                        }), function(k) {
                                            if (!inc[k]) {
                                                incl.push(k)
                                            }
                                        });
                                        if (incl.length > 0) {
                                            include(incl[0], 0);
                                        }

                                        function cl() {
                                            if (typeof window["Highcharts"] !== "undefined") {
                                                Highcharts.setOptions({
                                                    lang: {
                                                        "thousandsSep": ","
                                                    }
                                                });
                                                var options = {
                                                    "options": {},
                                                    "chart": {
                                                        "type": "column",
                                                        "inverted": true,
                                                        "polar": false
                                                    },
                                                    "plotOptions": {
                                                        "series": {
                                                            "dataLabels": {
                                                                "enabled": true
                                                            },
                                                            "animation": true
                                                        }
                                                    },
                                                    "title": {
                                                        "text": "Careers for Those With Learning Disabilities"
                                                    },
                                                    "exporting": {},
                                                    "series": [{
                                                        "data": [
                                                            ["Film and video editors", 82190],
                                                            ["Directors of motion pictures", 111320],
                                                            ["Rehabilitation counselors", 38740],
                                                            ["Addictions counselors", 44160],
                                                            ["Mental health counselors", 46050],
                                                            ["School counselors", 57620],
                                                            ["Broadcast News Anchor or Correspondent", 57380],
                                                            ["Nursing Assistant", 27650]
                                                        ],
                                                        "name": "Average Salaries",
                                                        "turboThreshold": 0,
                                                        "_colorIndex": 0,
                                                        "_symbolIndex": 0
                                                    }],
                                                    "xAxis": [{
                                                        "categories": ['Film and video editors', 'Directors of motion pictures', 'Rehabilitation counselors', 'Addictions counselors', 'Mental health counselors', 'School counselors', 'Broadcast News Anchor or Correspondent', 'Nursing Assistant'],
                                                        "title": {},
                                                        "labels": {

                                                        },
                                                        "reversed": false
                                                    }],
                                                    "yAxis": [{

                                                        "title": {},
                                                        "labels": {

                                                        },
                                                    }],

                                                };
                                                new Highcharts.Chart("highcharts-c706ce4f-ad0a-4702-a323-65490dd66b59", options);
                                            } else window.setTimeout(cl, 20);
                                        }
                                        cl();
                                    })();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options <small>Physically Disabled</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="highcharts-1a3047ce-32dc-4c6f-b070-629a7bcfeb64">
                            </div>
                            <script>
                                (function() {
                                    function include(script, next) {
                                        var sc = document.createElement("script");
                                        sc.src = script;
                                        sc.type = "text/javascript";
                                        sc.onload = function() {
                                            if (++next < incl.length) include(incl[next], next);
                                        };
                                        document.head.appendChild(sc);
                                    }

                                    function each(a, fn) {
                                        if (typeof a.forEach !== "undefined") {
                                            a.forEach(fn);
                                        } else {
                                            for (var i = 0; i < a.length; i++) {
                                                if (fn) {
                                                    fn(a[i]);
                                                }
                                            }
                                        }
                                    }
                                    var inc = {},
                                        incl = [];
                                    each(document.querySelectorAll("script"), function(t) {
                                        inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                    });
                                    each(Object.keys({
                                        "https://code.highcharts.com/stock/highstock.js": 1,
                                        "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                        "https://code.highcharts.com/highcharts-more.js": 1,
                                        "https://code.highcharts.com/highcharts-3d.js": 1,
                                        "https://code.highcharts.com/modules/data.js": 1,
                                        "https://code.highcharts.com/modules/map.js": 1,
                                        "https://code.highcharts.com/modules/exporting.js": 1,
                                        "http://code.highcharts.com/modules/funnel.js": 1,
                                        "http://code.highcharts.com/modules/solid-gauge.js": 1
                                    }), function(k) {
                                        if (!inc[k]) {
                                            incl.push(k)
                                        }
                                    });
                                    if (incl.length > 0) {
                                        include(incl[0], 0);
                                    }

                                    function cl() {
                                        if (typeof window["Highcharts"] !== "undefined") {
                                            Highcharts.setOptions({
                                                lang: {
                                                    "thousandsSep": ","
                                                }
                                            });
                                            var options = {
                                                "options": {},
                                                "chart": {
                                                    "type": "column",
                                                    "inverted": true,
                                                    "polar": false
                                                },
                                                "plotOptions": {
                                                    "series": {
                                                        "dataLabels": {
                                                            "enabled": true
                                                        },
                                                        "animation": true
                                                    }
                                                },
                                                "title": {
                                                    "text": "Career Areas for People Who Are Physically Disabled"
                                                },
                                                "exporting": {},
                                                "series": [{
                                                    "data": [
                                                        ["Medical office assistants", 35060],
                                                        ["Medical records and health information technicians", 41460],
                                                        ["Medical and health services managers", 109370],
                                                        ["Bookkeeping and accounting clerks", 40220],
                                                        ["Accountants and auditors", 76730],
                                                        ["Pharmacy aides", 28420],
                                                        ["Pharmacy technicians", 32170],
                                                        ["Sales representatives for drug companies", 96120],
                                                        ["Pharmacists", 120270],
                                                        ["Marketing specialists and research analysts", 70620],
                                                        ["Marketing managers", 144140],
                                                        ["Vocational Counseling", 57620],
                                                        ["Medical transcriptionists", 37150],
                                                        ["Graphic designers", 52290],
                                                        ["Computer support specialists", 53100],
                                                        ["Writers and authors", 71920],
                                                        ["Web developers", 72150]
                                                    ],
                                                    "name": "Average Salaries",
                                                    "turboThreshold": 0,
                                                    "_colorIndex": 0,
                                                    "_symbolIndex": 0
                                                }],
                                                "xAxis": [{
                                                    "categories": ['Medical office assistants', 'Medical records and health information technicians', 'Medical and health services managers', 'Bookkeeping and accounting clerks', 'Accountants and auditors', 'Pharmacy aides', 'Pharmacy technicians', 'Sales representatives for drug companies', 'Pharmacists', 'Marketing specialists and research analysts', 'Marketing managers', 'Vocational Counseling', 'Medical transcriptionists', 'Graphic designers', 'Computer support specialists', 'Writers and authors', 'Web developers'],
                                                }]
                                            };
                                            /*
                                            // Sample of extending options:
                                            Highcharts.merge(true, options, {
                                                chart: {
                                                    backgroundColor: "#bada55"
                                                },
                                                plotOptions: {
                                                    series: {
                                                        cursor: "pointer",
                                                        events: {
                                                            click: function(event) {
                                                                alert(this.name + " clicked\n" +
                                                                      "Alt: " + event.altKey + "\n" +
                                                                      "Control: " + event.ctrlKey + "\n" +
                                                                      "Shift: " + event.shiftKey + "\n");
                                                            }
                                                        }
                                                    }
                                                }
                                            });
                                            */
                                            new Highcharts.Chart("highcharts-1a3047ce-32dc-4c6f-b070-629a7bcfeb64", options);
                                        } else window.setTimeout(cl, 20);
                                    }
                                    cl();
                                })();
                            </script>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options <small>Visually Impaired</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="highcharts-a6cb587c-1b64-4832-bd16-b0dd6c974da8">
                            </div>
                            <script>
                                (function() {
                                    function include(script, next) {
                                        var sc = document.createElement("script");
                                        sc.src = script;
                                        sc.type = "text/javascript";
                                        sc.onload = function() {
                                            if (++next < incl.length) include(incl[next], next);
                                        };
                                        document.head.appendChild(sc);
                                    }

                                    function each(a, fn) {
                                        if (typeof a.forEach !== "undefined") {
                                            a.forEach(fn);
                                        } else {
                                            for (var i = 0; i < a.length; i++) {
                                                if (fn) {
                                                    fn(a[i]);
                                                }
                                            }
                                        }
                                    }
                                    var inc = {},
                                        incl = [];
                                    each(document.querySelectorAll("script"), function(t) {
                                        inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                    });
                                    each(Object.keys({
                                        "https://code.highcharts.com/stock/highstock.js": 1,
                                        "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                        "https://code.highcharts.com/highcharts-more.js": 1,
                                        "https://code.highcharts.com/highcharts-3d.js": 1,
                                        "https://code.highcharts.com/modules/data.js": 1,
                                        "https://code.highcharts.com/modules/map.js": 1,
                                        "https://code.highcharts.com/modules/exporting.js": 1,
                                        "http://code.highcharts.com/modules/funnel.js": 1,
                                        "http://code.highcharts.com/modules/solid-gauge.js": 1
                                    }), function(k) {
                                        if (!inc[k]) {
                                            incl.push(k)
                                        }
                                    });
                                    if (incl.length > 0) {
                                        include(incl[0], 0);
                                    }

                                    function cl() {
                                        if (typeof window["Highcharts"] !== "undefined") {
                                            Highcharts.setOptions({
                                                lang: {
                                                    "thousandsSep": ","
                                                }
                                            });
                                            var options = {
                                                "options": {},
                                                "chart": {
                                                    "type": "column",
                                                    "inverted": true,
                                                    "polar": false
                                                },
                                                "plotOptions": {
                                                    "series": {
                                                        "dataLabels": {
                                                            "enabled": true
                                                        },
                                                        "animation": true
                                                    }
                                                },
                                                "title": {
                                                    "text": "Careers for the Visually Impaired"
                                                },

                                                "exporting": {},
                                                "series": [{
                                                    "data": [
                                                        ["Childcare workers", 22930],
                                                        ["Teacher assistants", 27120],
                                                        ["Audio equipment technicians", 47450],
                                                        ["Paralegal Services", 53180],
                                                        ["Elementary school teachers", 59020],
                                                        ["Audio recording engineers", 65240],
                                                        ["Producers in the music recording industry", 82310]
                                                    ],
                                                    "name": "Average Salaries",
                                                    "turboThreshold": 0,
                                                    "_colorIndex": 0,
                                                    "_symbolIndex": 0
                                                }],
                                                "yAxis": [{
                                                    "title": {}
                                                }],
                                                "xAxis": [{
                                                    "categories": ['Childcare workers', 'Teacher assistants', 'Audio equipment technicians', 'Paralegal Services', 'Elementary school teachers', 'Audio recording engineers', 'Producers in the music recording industry'],
                                                }],
                                                "tooltip": {}
                                            };

                                            new Highcharts.Chart("highcharts-a6cb587c-1b64-4832-bd16-b0dd6c974da8", options);
                                        } else window.setTimeout(cl, 20);
                                    }
                                    cl();
                                })();
                            </script>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options <small>Intellectual Disabilities</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="highcharts-820e56bf-e2e8-4105-b89b-39b3087a453d">
                            </div>
                            <script>
                                (function() {
                                    function include(script, next) {
                                        var sc = document.createElement("script");
                                        sc.src = script;
                                        sc.type = "text/javascript";
                                        sc.onload = function() {
                                            if (++next < incl.length) include(incl[next], next);
                                        };
                                        document.head.appendChild(sc);
                                    }

                                    function each(a, fn) {
                                        if (typeof a.forEach !== "undefined") {
                                            a.forEach(fn);
                                        } else {
                                            for (var i = 0; i < a.length; i++) {
                                                if (fn) {
                                                    fn(a[i]);
                                                }
                                            }
                                        }
                                    }
                                    var inc = {},
                                        incl = [];
                                    each(document.querySelectorAll("script"), function(t) {
                                        inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                    });
                                    each(Object.keys({
                                        "https://code.highcharts.com/stock/highstock.js": 1,
                                        "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                        "https://code.highcharts.com/highcharts-more.js": 1,
                                        "https://code.highcharts.com/highcharts-3d.js": 1,
                                        "https://code.highcharts.com/modules/data.js": 1,
                                        "https://code.highcharts.com/modules/map.js": 1,
                                        "https://code.highcharts.com/modules/exporting.js": 1,
                                        "http://code.highcharts.com/modules/funnel.js": 1,
                                        "http://code.highcharts.com/modules/solid-gauge.js": 1
                                    }), function(k) {
                                        if (!inc[k]) {
                                            incl.push(k)
                                        }
                                    });
                                    if (incl.length > 0) {
                                        include(incl[0], 0);
                                    }

                                    function cl() {
                                        if (typeof window["Highcharts"] !== "undefined") {
                                            Highcharts.setOptions({
                                                lang: {
                                                    "thousandsSep": ","
                                                }
                                            });
                                            var options = {
                                                "options": {},
                                                "chart": {
                                                    "type": "column",
                                                    "inverted": true,
                                                    "polar": false
                                                },
                                                "plotOptions": {
                                                    "series": {
                                                        "dataLabels": {
                                                            "enabled": true
                                                        },
                                                        "animation": true
                                                    }
                                                },
                                                "title": {
                                                    "text": "Careers for People That Have Intellectual Disabilities"
                                                },
                                                "exporting": {},
                                                "series": [{
                                                    "data": [
                                                        ["Restaurant cooks", 25430],
                                                        ["Bakers", 27110],
                                                        ["Chefs and head cooks", 47390],
                                                        ["Photographers", 42640],
                                                        ["Graphic artists", 52290],
                                                        ["Painters  sculptors  and illustrators", 57410],
                                                        ["Interior designers", 56220],
                                                        ["Multimedia artists and animators", 72200],
                                                        ["Fashion designers", 76480],
                                                        ["Broadcast technicians", 45430],
                                                        ["Camera operators", 63200],
                                                        ["Sound engineering technicians", 65240],
                                                        ["Light truck or delivery services drivers", 34790],
                                                        ["Heavy and tractor-trailer truck drivers", 43590],
                                                        ["Heavy Equipment Operation", 50810],
                                                        ["Veterinary Assistant", 26810],
                                                        ["Computer programmers", 85180],
                                                        ["Applications software developers", 104300],
                                                        ["Systems software developers", 110590]
                                                    ],
                                                    "name": "Average Salaries",
                                                    "turboThreshold": 0,
                                                    "_colorIndex": 0,
                                                    "_symbolIndex": 0
                                                }],
                                                "xAxis": [{
                                                    "categories": ['Restaurant cooks', 'Bakers', 'Chefs and head cooks', 'Photographers', 'Graphic artists',
                                                        'Painters  sculptors  and illustrators', 'Interior designers', 'Multimedia artists and animators',
                                                        'Fashion designers', 'Broadcast technicians', 'Camera operators', 'Sound engineering technicians', 'Light truck or delivery services drivers', 'Heavy and tractor-trailer truck drivers', 'Heavy Equipment Operation', 'Veterinary Assistant', 'Computer programmers', 'Applications software developers', 'Systems software developers'
                                                    ],
                                                }]

                                            };

                                            new Highcharts.Chart("highcharts-820e56bf-e2e8-4105-b89b-39b3087a453d", options);
                                        } else window.setTimeout(cl, 20);
                                    }
                                    cl();
                                })();
                            </script>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Career Options<small>Hearing Impaired</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="highcharts-5c58ed3e-26ae-4aac-ad72-13b8bce6e689">
                            </div>
                            <script>
                                (function() {
                                    function include(script, next) {
                                        var sc = document.createElement("script");
                                        sc.src = script;
                                        sc.type = "text/javascript";
                                        sc.onload = function() {
                                            if (++next < incl.length) include(incl[next], next);
                                        };
                                        document.head.appendChild(sc);
                                    }

                                    function each(a, fn) {
                                        if (typeof a.forEach !== "undefined") {
                                            a.forEach(fn);
                                        } else {
                                            for (var i = 0; i < a.length; i++) {
                                                if (fn) {
                                                    fn(a[i]);
                                                }
                                            }
                                        }
                                    }
                                    var inc = {},
                                        incl = [];
                                    each(document.querySelectorAll("script"), function(t) {
                                        inc[t.src.substr(0, t.src.indexOf("?"))] = 1;
                                    });
                                    each(Object.keys({
                                        "https://code.highcharts.com/stock/highstock.js": 1,
                                        "https://code.highcharts.com/adapters/standalone-framework.js": 1,
                                        "https://code.highcharts.com/highcharts-more.js": 1,
                                        "https://code.highcharts.com/highcharts-3d.js": 1,
                                        "https://code.highcharts.com/modules/data.js": 1,
                                        "https://code.highcharts.com/modules/map.js": 1,
                                        "https://code.highcharts.com/modules/exporting.js": 1,
                                        "http://code.highcharts.com/modules/funnel.js": 1,
                                        "http://code.highcharts.com/modules/solid-gauge.js": 1
                                    }), function(k) {
                                        if (!inc[k]) {
                                            incl.push(k)
                                        }
                                    });
                                    if (incl.length > 0) {
                                        include(incl[0], 0);
                                    }

                                    function cl() {
                                        if (typeof window["Highcharts"] !== "undefined") {
                                            Highcharts.setOptions({
                                                lang: {
                                                    "thousandsSep": ","
                                                }
                                            });
                                            var options = {
                                                "options": {},
                                                "chart": {
                                                    "type": "column",
                                                    "inverted": true,
                                                    "polar": false
                                                },
                                                "plotOptions": {
                                                    "series": {
                                                        "dataLabels": {
                                                            "enabled": true
                                                        },
                                                        "animation": true
                                                    }
                                                },
                                                "title": {
                                                    "text": "Careers for Those Who Are Deaf or Hearing Impaired"
                                                },
                                                "exporting": {},
                                                "series": [{
                                                    "data": [
                                                        ["Actors Theatrical arts producers", 65720],
                                                        ["Movie producers", 111320],
                                                        ["Civil and architectural drafters", 54290],
                                                        ["Mechanical drafters", 57480],
                                                        ["Electronics and electrical drafters", 63390],
                                                        ["Conservation scientists", 65130],
                                                        ["Wildlife biologists", 64890],
                                                        ["Chemists", 80820],
                                                        ["Sociologists", 86840],
                                                        ["Atmospheric scientists", 94840],
                                                        ["Geologists", 106390],
                                                        ["Astronomers", 110380],
                                                        ["Physicists", 121770],
                                                        ["Carpentry", 48340],
                                                        ["Medical Laboratory Technician", 41700]
                                                    ],
                                                    "name": "Average Salaries",
                                                    "turboThreshold": 0,
                                                    "_colorIndex": 0,
                                                    "_symbolIndex": 0
                                                }],
                                                "yAxis": [{
                                                    "title": {}
                                                }],
                                                "xAxis": [{
                                                    "categories": ['Actors Theatrical arts producers', 'Movie producers', 'Civil and architectural drafters', 'Mechanical drafters', 'Electronics and electrical drafters', 'Conservation scientists', 'Wildlife biologists', 'Chemists', 'Sociologists', 'Atmospheric scientists', 'Geologists', 'Astronomers', 'Physicists', 'Carpentry', 'Medical Laboratory Technician'],
                                                }]
                                            };

                                            new Highcharts.Chart("highcharts-5c58ed3e-26ae-4aac-ad72-13b8bce6e689", options);
                                        } else window.setTimeout(cl, 20);
                                    }
                                    cl();
                                })();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <a href="http://employment-demographics.ml:3000/">Disabled employees demographics</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="../vendors/Chart.js/dist/Chart.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</body>

</html>